{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jasmine": true
    },
    "rules": {
        "no-var": ["warn"],
        "no-shadow": ["warn"],
        "prefer-template": ["warn"],
        "strict": ["warn"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "quotes": ["error", "single"],
        "prefer-arrow-callback": ["warn"],
        "object-shorthand": ["warn"],
        "new-cap": ["warn"],
        "no-return-assign": ["off"],
        "linebreak-style": ["error", "unix"],
        "camelcase": ["warn"],
        "no-use-before-define": ["off"],
        "max-len": ["error", 120],
        "padded-blocks": ["off"],
        "no-param-reassign": ["off"],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "never"]
    },
    "globals": {
        "$": true,
        "angular": true,
        "module": true,
        "inject": true,
        "_": true
    }
}
